section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(256, 256, 256, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 20px #000000;
}

section h1, section h2, section h3, section p {
    color: #000000;
}

#loadMoreButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; /* Adjust the padding to make the button bigger */
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #333; /* Change the color code to the desired color */
    color: #ffffff; /* Change the text color to contrast with the background */
    border: none; /* Remove the default button border */
    border-radius: 5px; /* Add some border-radius for a rounded appearance */
    cursor: pointer;
}