.contactInformation {
    width: 100%;
    margin-top: 40px;
    background-color: #111;
    padding-bottom: 20px;
}

.contactInformation h1, .contactInformation h2, .contactInformation h3, .contactInformation p {
    margin-top:-21px;
    padding-inline: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}