header {
    margin-top: 38px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(256, 256, 256, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 30px #000000;
}

section h1, section h2, section h3, section p {
    color: #000000;
}
