/*WARNING, BOTH LOGIN AND SIGNUP PAGES USE THIS CSS FILE*/
header {
    margin-top: 38px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

form {
    max-width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(256, 256, 256, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 30px #000000;
}

.input-group {
    color: black;
    text-align: center;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; /* Background color for input fields */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #001234; /* Custom background color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff96ad; /* Custom hover color */
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad; /* Custom hover effects */
}

/* Style for the error message frame */
.error-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* Style for the error message itself */
.error-message {
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 5px;
}

/* Style for the text inside the error message */
.error-text {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}
