nav {
    z-index: 1000;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F3F3F;
    min-width: 160px;
    z-index: 1001;
}
.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
