<!DOCTYPE html>
<html lang="">

<!--HEAD-->
<head>
    <title>Title</title>
    <link rel="stylesheet" href="MainMapView.css">
    <header>
        <div id="image">
            <img src="UofTMap.png"  alt="Blank">
        </div>
    </header>
</head>

<!--BODY-->
<body>

    <!--TOP FIXED MENU-->
    <div class="navbar">
        <!--Change href to go to a new page, and add java implementation?-->
        <a href="#home">Home</a>
        <a href="#profile">Profile</a>
        <a href="#viewmap">View Map</a>
        <a href="#favourites">Favourites</a>
        <a href="#reviews">Reviews</a>
        <a href="#login">Login</a>
        <a href="#signup">Signup</a>
    </div>

    <div class="main">
        <p>Some text some text some text some text..</p>
    </div>

</body>
</html>