<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" href="MainMapView.css">
    <title>Title</title>
</head>


<body>

<!--    NAVBAR-->
    <div class="navbar">
        <a href="#mainMap">Main Map</a>
        <div class="dropdown">
            <button class="dropbtn">Profile</button>
            <div class="dropdown-content">
                <a href="#favourites">Favourites</a>
                <a href="#userReviews">Reviews</a>
                <a href="#profile">Profile</a>
            </div>
        </div>
        <a href="#about">About</a>
    </div>

<!--Stuff under the map-->
    <div class="underMap">
        <h1>Welcome to UniVerse</h1>

        <h3>Domain: Maps and Education / Campus Resource</h3>

        <h3>Software Specification</h3>
        <p>
            Students can write reviews for lecture halls, bathrooms, cafeteria, or overall facilities for
            specific buildings.
            Students can indicate whether a building has amenities such as
            microwaves etc.
            Students can mark each of their lecture/tutorial room locations.
            We can save this info to categorize the buildings into Social Sciences building,
            Math & Physics building, Engineering building, CS building, etc.
            New students can look at our app to see where their courses have generally been held in the past, and
            decide where to live.
            Students can log in to keep their account information, like favorite study spots or
            favorite bathroom as pins.
            Create a heat map of student population/population density for areas so
            students can avoid crowded areas, which Help students avoid being late to class.
        </p>

        <h3>User Stories</h3>
        <UL>
            <LI> Bobe wants to look for a new study spot since he is sick of Robarts library.
            He uses UniVerse to look for study spots frequented/pinned
            by other students other than the library.
            He is shown potential spots and chooses the ones that he is
            interested in or ones that are convenient for him.

            <LI> Bobe is an extremely picky, yet lazy student, he only wants to use a clean bathroom.
            To do that, he would need to check each bathroom on each floor of the building.
            Instead of walking up and down the stairs, he uses UniVerse
            to see which bathroom has the best reviews (is the cleanest).
            Bobe also wants to share his favorite study spot/bathroom with others,
            so he leaves a great review on UniVerse.
        </UL>

        <h3>About the project</h3>
        <p>
            The quick brown fox jumps over the lazy dog<br>
            The quick brown fox jumps over the lazy dog<br>
            The quick brown fox jumps over the lazy dog<br>
            The quick brown fox jumps over the lazy dog<br>
            The quick brown fox jumps over the lazy dog<br>
            The quick brown fox jumps over the lazy dog<br>
        </p>

        <h3>What is UniVerse?</h3>
        <p>
            Universe is an awesome UofT centered website made to help you discover awesome new study spots!
            And let others know about your favourites!
        </p>
    </div>

<!--Contact Information Section-->
    <div class="contactInformation">
        <h1>
            Contact us
        </h1>
        <h3> The Gods of the UniVerse</h3>
        <p>
            Evan Wang<br>
            Isabella Nguyen<br>
            Ivan Kraskov<br>
            Liam Csiffary<br>
            Raon Kim<br>
        </p>
    </div>


</body>
</html>